.navbar-toggler {
  display: none;
}

.navbar-brand img {
  width: 200px;
}
@media screen and (max-width: 750px) {
  .navbar-toggler {
    display: block;
  }
}
@media screen and (max-width: 530px) {
  .navbar-brand img {
    width: 150px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-brand img {
    width: 130px;
  }
}
